{% # components v2.10.63 | Copyright © 2024 Archetype Themes Limited Partnership  | "Shopify Theme Store (https://www.shopify.com/legal/terms#9-additional-services)" License  %}
{%- comment -%}
  Renders a separator block

  Accepts:
  - block {block} - Block object

  Usage:
  {% render 'block-separator', block: block %}
{%- endcomment -%}

<div class="product-block" {{ block.shopify_attributes }}><hr></div>
