{% # components v2.10.64 | Copyright © 2024 Archetype Themes Limited Partnership  | "Shopify Theme Store (https://www.shopify.com/legal/terms#9-additional-services)" License  %}
<span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  {% render 'icon', name: 'chevron-down' %}
</span>
