{% # components v2.10.63 | Copyright © 2024 Archetype Themes Limited Partnership  | "Shopify Theme Store (https://www.shopify.com/legal/terms#9-additional-services)" License  %}
{%- comment -%}
  Renders the product description

  Accepts:
  - block {block} - Block object
  - product {product} - Product object
  - is_tab {boolean} - Whether to render as a tab

  Usage:
  {% render 'product-description' %}
{%- endcomment -%}

{%- liquid
  assign product = section.settings.product | default: product
  assign id = block.id | append: product.id
  assign is_tab = is_tab | default: block.settings.is_tab, allow_false: true | default: true, allow_false: true
  assign description = 'info.placeholder_product_description' | t

  if product
    assign description = product.description
  endif
-%}

{%- if is_tab -%}
  {% assign title = 'labels.description' | t %}
  {%- render 'tab', id: id, title: title, content: description -%}
{%- else -%}
  <div class="rte clearfix">
    {{ description }}
  </div>
{%- endif -%}
